/*
amber  RGB(255, 176, 0)
light amber RGB(255, 204, 0)
*/
p {
    color:rgb(255, 204, 0);
}
h1 {
    color:rgb(255, 176, 0);
}

h2 {
    color:rgb(255, 176, 0);
}

a {
    color:rgb(255, 204, 0);
}

div.main{
    border-color:rgb(255, 176, 0);
}