@font-face {
    font-family: 'liquid_crystallight';
    src: url('./fonts/liquidcrystal-light.woff2') format('woff2'),
         url('./fonts/liquidcrystal-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'glass_tty_vt220medium';
    src: url('./fonts/glass_tty_vt220.woff2') format('woff2'),
         url('./fonts/glass_tty_vt220.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

p {
    font-family: glass_tty_vt220medium;
}
h1 {
    font-family: glass_tty_vt220medium;
}

h2 {
    font-family: glass_tty_vt220medium;
}

a {
    font-family: glass_tty_vt220medium;
}